

body {
    
    font-family: Helvetica;
    
}
:root{
    font-size: 1em;
}


     .text-white2{
       width: 28em;
       height: 28em;
       display: grid;
       
       grid-template-columns: auto auto auto;
       margin-bottom: 2.5em;
       margin-left: 1em;
   
       gap: 0;
      
    } 

    .box{
       width: 15lvh;
       height: 15vh;
       border-right: 5px solid rgb(229, 230, 235);
        
       border-bottom: 5px solid rgb(238, 241, 244); 
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 2rem;
       line-height: 5rem;
       cursor: pointer;
       user-select: auto;
       font-size: 15px;
       font-weight: bold;
        color: aliceblue; 
       background-color: rgb(11, 11, 232);
   }  
   
    /* .box:nth-child(3n){
       border-right: none;

       
   }  
   .box:nth-child(n+7){
       border-bottom: none;
       
   }   */
   .picture{
       /* background-image: url(../img/init.png); */
       display: flex;
       align-items: center;
       justify-content: center;
       width: 10em;
       height: 10em;
    
       
   }

   .card-player{
       border-radius: 15px ;
       border: 5px solid rgba(240, 234, 234, 0.868); 
       width: 14em;
       height: 25m;
       background-color: blue;
   
   }
   @media(max-width: 1024px ){
       .text-white2{
           width: 15em;
           height: 15em;
          
           margin-bottom: 2.5em;
        }
        .box{
           width:10vh;
           height: 10vh;
           
       }   
   }
   @media(max-width: 576px ){
       .text-white2{
           width: 15em;
           height: 15em;
          
           margin-bottom: 2.5em;
        }
       .box{
           width: 10vh;
           height: 10vh;
           text-align: center;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 2rem;
          
       }    
   }
   @media(max-width: 360px){
       .text-white2{
           width: 15em;
           height: 15em;
          
           margin-bottom: 2.5em;
        }
       .box{
           width: 10svh;
           height: 10svh;
           text-align: center;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 2rem;
           margin-right: 0;
           margin-left: 0;
           
          
       } 
       .card-player{
           border-radius: 10px ;
           border: 5px solid rgba(240, 234, 234, 0.868); 
           width: 8svh;
           height: 8svh;
           margin-top: 5em;
       
       }
       .title{
        font-size: 0.8rem;
       }
       .picture{
        position: absolute;
        top: -10%;
         width: 5svh;
        height: 5svh;
        right: 10%;
           
    }  
   }
   #ranGame , #start {
    cursor: pointer;
}

#nextButton, #cleanButton {
    background-color: #0d11e6;
    cursor: default;
}

.modal-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal{
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-200%)
}

.modal img{
    width: 30%;
}

.modal-text{
    font-size: 1.5rem;
    color: tomato;
    text-align: center;
}

.start_button{
    width: 120px;
    font-size: 2rem;
}
